<div class="category border m-2 p-4">
    <h1 class="display-4">Users</h1>

    <p-toast  position="top-right" key="myKey1"></p-toast>
    <p-toast  position="top-right" key="myKey2"></p-toast>
    <p-toast  position="top-right" key="myKey3"></p-toast>
      <br>
      <p-table #dt [value]="users" responsiveLayout="scroll" [globalFilterFields]="['username','roleFK.nom']" >
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"  placeholder="Filter" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" >
            <tr >
                <th>User Name</th>
                <th>Role</th>
            
                <th colspan="3">Action</th>
            </tr>
            
        </ng-template>
        <ng-template pTemplate="body" let-user >
            <tr >
                <td>{{user.username}} </td>
                <td> {{user?.roleFK?.nom}}</td>
                
                
                <td><button pButton class="p-button-sm p-button-success" icon="pi pi-check" label="Update User" (click)="showDialog1(user)" ></button></td>
                <td><button pButton class="p-button-sm p-button-info" icon="pi pi-check" label="Affecter Role" (click)="showDialog(user)" ></button></td>
                <td><button pButton class="p-button-sm p-button-danger" icon="pi pi-times" label="Delete User" (click)="open(content,user.id)" ></button></td>
            </tr>
        </ng-template>
        
    </p-table>

<br>
<br>



</div>
<ng-template #content let-c="close" let-d="dismiss">    
    <div class="modal-header">    
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>    
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="d('Cross click')">    
            <span aria-hidden="true">×</span>    
        </button>    
    </div>    
    <div class="modal-body">    
        <p>Are you sure to delete this?</p>    
    </div>    
    <div class="modal-footer">    
        <button type="button" class="btn btn-warning" (click)="d('Cross click')">Cancel</button>    
        <button type="button" class="btn btn-success" (click)="c('yes')">Yes</button>    
    </div>    
</ng-template>


<p-dialog header="User Name" [modal]="true" appendTo="body" [(visible)]="display1" > 
    <div class="container-fluid">
        <form #updateForm action="javascript:void(0);" (submit)='updateUser(updateForm)' class="p-4 m-3" method="POST">
            <h1 class="display-6">Update User</h1>
            <hr>
            <div class="form-group m-3">
                <label for="name">User Name</label>
                <input pInputText *ngIf="selectedUser" id="name" class="form-control" value="{{selectedUser.username}}" type="text" name="username" />
            </div>
            <div class="mt-4 p-2 m-2">
                <button type="submit" icon="pi pi-check" label="Update User" pButton class="p-button-sm p-button-info"></button>
            </div>
        </form>


    </div>
   
</p-dialog>
<p-dialog header="User Role" [modal]="true" appendTo="body" [(visible)]="display" > 
    <div class="container-fluid">
        <form #roleForm action="javascript:void(0);"   (submit)='affecterRole(roleForm)' class="p-4 m-3" method="POST">
            <h1 class="display-6">Affecter Role</h1>
            <hr>
            <div class="form-group m-3">
                <label for="name">Role Name</label>
                <select  id="role" class="form-control" name="roleFK" *ngIf="selectedUser">
                    <option *ngFor="let role of roles"  [selected]='selectedUser.roleFK.idRole==role.idRole' value="{{role.idRole}}">{{role.nom}} </option>   
                </select>
            </div>
            <div class="mt-4 p-2 m-2">
                <button type="submit" pButton class="p-button-sm p-button-info" icon="pi pi-check" label="Save Role"></button>
            </div>
        </form>


    </div>
   
</p-dialog>